$social_icon_size: 28px;
$right_group_width: 200px;

.container {
  background-color: $color_dark_primary;
  padding: $padding*2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  box-sizing: border-box;

  .modalContainer {
    display: inherit;
    > div > div {
      height: 280px;
    }
  }

  .modalContent {
    width: 100%;
    color: $color_text_dark;
    > div {
      padding: $padding/2;
      text-align: center;
    }
    > div > label {
      width: 100px;
      display: inline-block;
      text-align: left;
    }
  }

  .invalid {
    border: 1px solid red;
  }

  .innerContainer {
    max-width: $innerContainerWidth;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
  }

  .save, .back, .next {
    @include Clickable;
    @include StaticButton($color_accent_blue, $color_text_light);
    @include ModalButton;
    color: $color_text_light;
    background-color: transparent;
    background-color: transparent;
    border: none;
  }

  .save {
    color: $color_accent_grey;
    position: absolute;
    left: 0;
  }

  button {
    background-color: transparent;
    border: none;
  }

  .right {
    position: absolute;
    right: 0;
  }

  .back {
    color: $color_container_background;
  }

  .next {
    color: $color_container_background;
    background-color: $color_accent_blue;
    &.highlight {
      border: 1px solid $color_subheading;
    }
  }

}

@media only screen and (max-width: 500px) {
  .container {
    .save, .back, .next{
      font-size: 12px;
    }

    .save{
      left: -25px;
    }

  }
}