.container {
	width: 100%;
	height: calc(100vh - #{$header-height} - #{$footer-height});
	overflow-x: hidden;
	position: relative;
	overflow-y: hidden;

	.innerContainer {
		min-height: calc(100vh - #{$header-height} - #{$footer-height});
		min-width: 100%;
		position: absolute;
		transition: all 350ms ease-in-out;
		display: flex;
		> div {
			min-height: calc(100vh - #{$header-height} - #{$footer-height});
		}
	}
}