:global {
/**
	*
	*		Only put styles here that should EFFECT EVERYTHING here
	*		These styles are NOT localized
	*/

	$fa-font-path: "~font-awesome/fonts";
  @import "~font-awesome/scss/font-awesome";
  // @import '~react-dates/css/styles.scss';
  @import "react-dates/styles.scss";


  body.body-locked {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }


	body {
		margin: 0;
		font-family: 'Signika', sans-serif;

		.mainContent {
			position: relative;
			background-color: $color_container_background;
      color: $color_text_dark;
      height: 100%;
			min-height: calc(100vh - #{$header-height} - #{$footer-height});
		}
	}

	.fa-twitter:hover {
		color: #1DA1F3;
		border-color: #1DA1F3;
	}
	.fa-facebook:hover {
		color:	#3B5998;
		border-color: #3B5998;
	}
	.fa-youtube:hover {
		color:	#bb0000;
		border-color: #bb0000;
	}
	.fa-linkedin:hover {
		color: #0077B5;
		border-color: #0077B5;
	}

/////////
}