$logo-width: 80px;
$bubble-size: 50px;

.spacer {
  height: $header-height - $padding*2;
  padding: $padding;
  left: 0;
  right: 0;
}

.outerContainer {}

.container {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  height: $header-height;
  box-sizing: border-box;
  background-color: $color_container_background;
  color: $color_text_light;
  padding: $padding;
  z-index: 100;
  border-bottom: 1px solid black;


  .logo {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 350px;
    height: 65px;

  }
  .logoAdmin {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 450px;
    height: 65px;

  }
  .email, .login {
    color: black;
    position: absolute;
    height: 1em;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: $cardPadding;
    color: $color_text_muted;
  }

  .login {
    color: $color_accent_blue;
    text-decoration: none;
  }

  .innerContainer {
    left: 0;
    top: 0;
    right: 0;
    height: $header-height;
    width: 100%;
    margin: auto;
    max-width: $innerContainerWidth;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 0;
  }

  .greyLine, .blueLine {
    height: 2px;
    position: absolute;
    @include position(0);
    margin: $bubble-size/2 0 auto;
  }

  .greyLine {
    background-color: $color_accent_grey;
  }

  .blueLine {
    background-color: $color_accent_blue;
    width: 0;
    transition: width 250ms ease-in-out;
  }

  .bubbleContainer, .bubbleContainerActive, .bubbleContainerComplete {
    z-index: 1;
    text-align: center;
    transition: all 250ms ease-in-out;
    .bubble {
      border-radius: 50%;
      width: $bubble-size;
      height: $bubble-size;
      line-height: 50px;
      text-align: center;
      margin: auto;
      transition: all 250ms ease-in-out;
      @include Clickable;
    }
    .bubbleTitle {
      transition: all 250ms ease-in-out;
    }
  }

  .bubbleContainer {
    .bubble {
      background-color: $color_accent_grey;
    }
    .bubbleTitle {
      color: $color_accent_grey;
    }
  }

  .bubbleContainerActive, .bubbleContainerComplete {
    .bubble {
      background-color: $color_accent_blue;
    }
    .bubbleTitle {
      color: $color_accent_blue;
    }
  }

  .bubbleContainerComplete .bubble {
    position: relative;
    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      content: ' ';
      background-image: url('/res/header-checkmark.svg');
      @include position(0);
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      box-sizing: border-box;
      padding: $padding;
    }
  }
}

@media (max-width: 850px) {
  .logo {
    display: none;
  }
  // .container{
  //   position: relative;

  //   .innerContainer{
  //     top: 100px;
  //   }

  // }
}
