@import "variables";

.DateRangePickerInput {
  background-color: $react-dates-color-white;
  border: 1px solid $react-dates-color-gray-lighter;
  display: none;
}

.DateRangePickerInput--disabled {
  background: $react-dates-color-gray-lighter;
}

.DateRangePickerInput--rtl {
  direction: rtl;
}

.DateRangePickerInput__arrow {
  display: inline-block;
  vertical-align: middle;
}

.DateRangePickerInput__arrow svg {
  vertical-align: middle;
  fill: $react-dates-color-text;
  height: $react-dates-width-arrow;
  width: $react-dates-width-arrow;
}

.DateRangePickerInput__clear-dates {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;

  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0 10px 0 5px;
}

.DateRangePickerInput__clear-dates svg {
  fill: $react-dates-color-gray-light;
  height: 12px;
  width: 15px;
  vertical-align: middle;
}

.DateRangePickerInput__clear-dates--hide {
  visibility: hidden;
}

.DateRangePickerInput__clear-dates:focus,
.DateRangePickerInput__clear-dates--hover {
  background: $react-dates-color-border;
  border-radius: 50%;
}

.DateRangePickerInput__calendar-icon {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;

  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0 5px 0 10px;

  svg {
    fill: $react-dates-color-gray-light;
    height: 15px;
    width: 14px;
    vertical-align: middle;
  }
}
