.container {
  background: url('/res/london-backdrop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
  text-align: center;

  > div > div {
    background-color: rgba(0,0,0,.2) !important;
    border: 1px solid white !important;
    width: 206px !important;
    height: 310px !important;

    * {
      color: white;
    }

    label {
      color: white;
    }

    button {
      width: 100%;
    }

    input {
      max-width: 100%;
      box-sizing: border-box;
      background-color: rgba(0,0,0, .3) !important;
      border: 1px solid white !important;
      padding: 5px;
      font-size: 18px;
    }

    .link {
      left: 0;
      right: 0;
      margin: 15px auto;
      display: block;
      font-size: 1em;
      @include LinkButton(white);
      width: auto;
    }
  }
}

.modalContent {
  width: 100%;
  color: $color_text_dark;
  text-align: center;
  label, input {
    display: block;
  }

  input:focus {
    background-color: white !important;
    color: black;
  }

  > div {
    padding: $padding/2;
  }
  > div > label {
    width: 100px;
    text-align: left;
  }
}