.container {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - #{$header-height} - #{$footer-height});

  .select {
    color: $color_alert;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 18px;
  }

  .directionContainer {
    padding-bottom: 50px;
    left: 0;
    right: 0;
    max-width: 400px;
    margin: auto;
    display: flex;
    padding: 0 $cardPadding;
    justify-content: space-around;
    color: $color_accent_grey;
    .title, .titleActive {
      border-bottom: 4px solid transparent;
      @include Clickable;
        font-size: 22px;
    }
    .title {
      color: $color_accent_grey;
    }

    .titleActive {
      color: $color_text_dark;
      border-bottom-color: $color_accent_blue;
    }
  }

  .dayContent {
    border-bottom: 1px solid $color_accent_grey;
    border-top: 1px solid $color_accent_grey;
    padding: $cardPadding 0;
    margin: $padding;
    margin-top: 0;
  }

  .extension {
    display: inline-block;
    margin-top: -14px;
    margin-left: 5px;
   
    input {
      width: 450px;
      padding: 8px 8px;
      margin: 8px 8px;
      box-sizing: border-box;
      font-size: 14px;
  }
   
  }
 

  .dayContainer {
    left: 0;
    right: 0;
    margin: 10px auto;
    max-width: $innerContainerWidth;
    width: 100%;
    display: flex;
    padding-bottom: $padding;
    justify-content: space-between;
    label {
      padding-left: $padding;
    }

    .defaultDay {
      position: relative;
      margin-top: -20px;
      font-size: 12px;
      color: $color_accent_blue;
    }
   
  }
  
  .sortByContainer {
    right: 0;
    margin-left: auto;
    text-align: right;
    padding-bottom: $cardPadding;
    .selectContainer {
      padding-left: $padding;
      width: 165px;
      display: inline-block;
      margin-bottom: -5px;
      background-color: $color_container_background;
      text-align: left;
    }
  }

  .widthContainer {
    left: 0;
    right: 0;
    margin: auto;
    max-width: $innerContainerWidth;

    .spouseContainer {
      float: left;
      label {
        color: $color_subheading;
        font-weight: bold;
        margin-right: 10px;
      }
      > div {
        width: 50px;
        background: white;
        float: right;
        
      }
    }
    .selectDayCheckIn{
      left: 0;
      right: 0;
      margin: auto;
      padding: 10px 0;
      max-width: 900px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  .innerContainer {
    width: 100%;
  
  }


  .roomsContainer {
    overflow-y: auto;
    transition: all 500ms ease-in-out;
   
    .roomContainer {
      left: 0;
      right: 0;
      margin: auto;
      max-width: $innerContainerWidth;
      &:nth-of-type(2n-1) {
        // background-color: #F1F1F2;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .widthContainer{
      .dayContainer{
        flex-wrap: wrap-reverse;
        padding: 0 10px;
       
      
       
      }
      div { 
        flex: 47%;
        margin: 2px;
      } 
      
      .extensionCont{
       margin-left: 14px;
       
      }
      .extension{
        width: 290px;
        input {
         width: 275px;
         border: solid 1px #ccc;
         margin-top: 10px;


        }

      }

      .selecterDev{
        .spouseContainer {
          float: left;
          widows: 40%;
          > div {
            
            float: none;
           
            
          }
        }
        .selectContainer{
          width: 40%;
          margin-bottom: -9px;
        }
      }

    
     
    } 
    .roomContainer{
      height: 475px;
    }

   
   
  } // End container

}