.container {
  width: 100%;
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;

  .innerContainer {
    @include CardContainer;
    display: flex;
    width: 100%;
    background: $color_container_background;
    position: relative;
    height: 300px;
  }

  .count, .taken {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    padding: $padding $cardPadding;
    background-color: #FC3365;
    color: white;
    font-size: 18px;
    border-bottom-right-radius: 103px;
    z-index: 4;
  }

  .taken {
    background-color: $color_text_muted;
  }
  

  .imageContainer, {
    width: 450px;
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    height: 300px;
    li{
      height: 300px;
     
    }
    .image{
      width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
      
      
    }

   
  }
 
  

  .selected, .notSelected {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .selected {
    background-image: url('/res/header-checkmark.svg');
    background-position: center;
    // background-size: contain;
    background-size: 300px;
    background-repeat: no-repeat;
    z-index: 3;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.7);
   
  }

  .content {
    padding: $padding;
    flex-grow: 1;
  }
   
  .row {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    &:first-of-type {
      font-size: 20px;
    }

    .title {
      width: 100px;
      display: inline-block;
      vertical-align: top;
    }

    .title + div {
      display: inline-block;
    }

    .secBut {
      @include StaticButton($color_accent_blue, $color_text_light);
      @include ModalButton;
    }

    .prBut {
      @include StaticButton;
      @include ModalButton;
    }

    .secBut, .prBut {
      padding: 10px 35px;
      text-transform: uppercase;
    }

    .roomView{
      position: absolute;
      bottom: 10px;
      right: 5px;
      a {
        @include StaticButton($color_accent_blue, $color_text_light);
        @include ModalButton;
        text-decoration: none;
        padding: 10px 30px;
      }
      
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
   
    .innerContainer {
      flex-wrap: wrap !important;
      height: 430px;
    }

   

    .imageContainer, {
      width: 100%;
      flex-shrink: 0;
      display: inline-block;
      position: relative;
      height: 160px;
      
      li{
        height: 160px !important;
       
      }
      .image{
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        
        
      }  
      
      .sliderPhone{
        height: 160px !important;
      }
    }
    .content {
      padding: $padding;
      flex-grow: 1;
      position: relative;
      top: -37px;
      font-size: 13px;
    }
    .roomView{
      bottom: -30px !important;
    }
    .secBut, .prBut {
      padding: 10px !important;
      text-transform: uppercase;
    }
    
  }
  .selected,.notSelected{
    height: 160px !important;
    background-size: 200px !important;
  }

}