.container {
  max-width: $innerContainerWidth;
  left: 0;
  right: 0;
  margin: auto;

  .link {
    @include LinkButton();
    color: $color_accent_blue !important;
  }

  .personContainer {
    display: flex;
    justify-content: space-around;

    input {
      max-width: 100%;
      box-sizing: border-box;
      // background-color: rgba(0,0,0, .3) !important;
      border: 1px solid white;
      border-bottom: 1px solid $color_dark_primary !important;
      padding: 5px;
      font-size: 18px;
      margin: $padding 0;
    }

    > div {
      max-width: 19em;
    }
  }
}

.actionBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color_dark_primary;
  padding: $padding * 2;

  .buttonContainer {
    max-width: $innerContainerWidth;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: right;

    button {
      @include Clickable;
      @include StaticButton($color_accent_blue, $color_text_light);
      @include ModalButton;
      color: $color_text_light;
      background-color: transparent;
      background-color: transparent;
      border: none;
      color: $color_container_background;
      background-color: $color_accent_blue;
      &.highlight {
        border: 1px solid $color_subheading;
      }
    }
  }
}
