.container {
	width: 100%;

	overflow-y: auto;
	height: calc(100vh - #{$header-height} - #{$footer-height});
	
	.registrationInfo {
		p {
			margin: 5px 0 10px;
		}
	}

	.subheading {
		color: $color_subheading;
	}

	.innerContainer {
		width: 100%;
		max-width: $innerContainerWidth;
		left: 0;
		right: 0;
		margin: auto;
		padding-bottom: 50px;

		.selectContainer {
			background-color: $color_container_background;
			*:after {
				top: 7px !important;
			}
			li {
				padding: 7px 5px !important;
			}
		}

		.collapsedTable {
			transform: scaleY(0);
		}

		.link {
			@include Clickable;
			@include LinkButton;
			font-size: 14px;
		}

		table {
			width: 100%;
			transform: scaleY(1);
			transition: all	250ms ease-in-out;
			input[type=radio] {
				display: inline;
				width: auto;
				padding-bottom: 20px;
			}
			.paddinDiv{
				margin-bottom: 30px;
			}
		}

		th {
			text-align: left;
			color: $color_subheading;
			padding: $padding 0;
			text-transform: uppercase;
		}

		td {
			padding-right: $padding;
			vertical-align: top;
			width: 200px;
		}
		input {
			width: 100%;
			box-sizing: border-box;
			padding: $padding;
			border: 1px solid black;
			margin-bottom: $padding;
		}

		.soldOut {
			color: $color_text_muted;
			pointer-events: none;
		  }

		.inputStyle{
			display: block;
			margin: 10px 0 20px 0;
			padding: 10px 14px;
			box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 6px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
			border-radius: 4px;
			
		}
		
	}
	
}

.highlight {
	color: $color_accent_blue;
	font-size: 18px;
}

.highlight2 {
	color: $color_accent_blue;
}

@media only screen and (max-width: 500px) {
	.container {
		.innerContainer {
			font-size: 10px;
	  
		}
	}
  
  }