.container {
  background: url('/res/london-backdrop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vh);
  text-align: center;
  h1 {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid black;
  }
}
