.container {
    margin: 0 auto;
    max-width: 900px;
    // box-sizing: border-box;
    padding: 0 5px;
  
    .innerContainer {
      // @include CardContainer;
      display: flex;
      width: 100%;
      background: $color_container_background;
      position: relative;
      

    //  form{
         
    //     display: flex;
     
    //   .FormStyle{
    //     background: red;
    //     min-width: 900px;

    //     input{
    //         border: solid 1px #000 !important;
    //     }
       

    //     .CardNumber{
    //         background: green;
    //     }
    //     .CardExpt{
    //         background: #ccddee ;
    //     }
    //     .cvc{
    //         background: orange;
    //     }
    //     .zcode{
    //         background: rgb(234, 0, 255);
    //     }
    //   }
    //  }
      

      label {
        text-align: left;
        color: #6b7c93;
        font-weight: 300;
        letter-spacing: 0.025em;
        clear: both;
      }

     
      
      button {
        white-space: nowrap;
        border: 0;
        outline: 0;
        display: inline-block;
        height: 40px;
        width: 200px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        color: #fff;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        background-color: #0179FF;
        text-decoration: none;
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
        margin-top: 10px;
        float: right;
      }
      
      form {
        // margin: 40px;
        padding: 20px;
        min-width: 100%;
        .feeStyle{
            h2{
              color: #F7931E;
              text-transform: uppercase;
              font-size: 20px;
              font-weight: bold;
              padding-bottom: 10px;
            }
            p{
              text-align: left;
              float: left;
              width: 50%;
              margin: 25px 0px;
              span{
                text-align: right;
                float: right;
              }
            }
            clear: both;
            ul{
              text-decoration: none;
              list-style: none;
              margin-left: -50px;
              li{
                display: inline-block;
                margin: 0 10px;
                img{
                  width: 50px;
                }
              }
            }
        }
        h1{
          text-align: center;
          text-transform: uppercase;
          text-decoration: underline;
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 10px;
        }
        p{
          text-align: center;
          margin-bottom: 65px;
        }

     
      }

     
      
      button:hover {
        color: rgb(0, 119, 255);
        cursor: pointer;
        background-color: #fff;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(0, 119, 255, .10), 0 3px 6px rgba(0, 119, 255, .08);
      }

      .StripeElement {
        // border:solid 1px #000 !important;
        display: block;
        margin: 10px 0 20px 0;
        max-width: 100%;
        padding: 10px 14px;
        box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
        border-radius: 4px;
        background: white;
       
      }
      
      
      

    }
  
	
}