.container {
	width: 100%;
	overflow-y: auto;
  height: calc(100vh - #{$header-height} - #{$footer-height});
	
	.innerContainer {
		width: 100%;
		max-width: $innerContainerWidth;
		left: 0;
		right: 0;
		margin: auto;

		padding-bottom: 50px;
		div{
			max-width: 800px;
		}
		table {
			text-align: left;
			max-width: 800px;
			width: 100%;
			left: 0;
			right: 0;
			margin: auto;
			th {
				color: $color_subheading;
				text-transform: uppercase;
				font-size: 18px;
				border-bottom: solid 1px #ccc;
				padding: 10px 0 3px 0;
			}
			tr{
			   height: 25px;
			   &:hover{
				background-color: #F3F3F3;
			}
			  td{
				  padding: 5px;
			  }
			}
		  
		}

		.link {
			@include Clickable;
			@include LinkButton;
			&:hover {
				background-color: transparent !important;
				border: none !important;
			}
		}

		.empty {
			color: #FF2E64;
		}

		.error {
			color: $color_accent_blue;
			@include Clickable;
			text-decoration: underline;
		}
	}
}