@mixin default {
  @include Clickable;
  background-color: $color_container_background;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid;
  // border-radius: 2px;
}

.container {
  > * { vertical-align: top; }
  .error {
    @include default;
    border-color: $color_alert;
  }

  .checked {
    @include default;
    background-color: $color_accent_blue;
    border-color: $color_accent_blue;
    background-image: url('/res/checkmark.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    // background-position: 1px;
    // background-position: right;
  }

  .unchecked {
    @include default;
    border-color: $color_text_muted;
  }
}