$number_picker_height: 24px;
$number_picker_component_width: $number_picker_height;



.container {
  border: 1px solid $color_dark_primary;
  width: $number_picker_component_width*3;

  .minus, .plus {
    background-color: $color_control_background_dark;
    position: relative;
    @include Clickable;
  }

  > * {
    display: inline-block;
    height: $number_picker_height;
    vertical-align: top;
    width: $number_picker_component_width;
    padding: 0;
    outline: none;
    border: none;
  }

  .minus {
    @include drawMinus($color_text_light, $padding);
  }

  .input {
    width: $number_picker_component_width;
    text-align: center;
  }

  .plus {
    @include drawPlus($color_text_light, $padding);
  }
}