$arrow_size: 20px;
$vertical_offset: 35px;

.container {
	position: relative;
	display: inline-block;

	.innerContainerRight, .innerContainerLeft {
		position: absolute;
		@include CardContainer;
		background-color: $color_container_background;
		z-index: 2;
		top: -$vertical_offset;
		padding: $padding*2;
		

		.close {
      z-index: 1;
			position: absolute;
			@include Clickable;
			top: 0;
			right: 0;
			margin: $padding/2;
			@include FaClose;
		}

		&:before {
			content: ' ';
			position: absolute;
			width: $arrow_size;
			height: $arrow_size;
			@include CardContainer;
			// box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
			box-shadow: -1px 3px 5px -2px rgba(0, 0, 0, 0.2);
			border-top: none;
			border-right: none;
			background-color: $color_container_background;
			// transform: rotate(45deg);
			top: $vertical_offset - ($arrow_size/2) - 5px;
			// left: -$arrow_size/2 - 1px;
			z-index: 1;
		}
  }
  
  .innerContainerLeft {
    right: $arrow_size;

    &:before {
      transform: rotate(225deg);
      right: -$arrow_size/2 - 1px;
    }
  }
  .innerContainerRight {
    left: $arrow_size;

    &:before {
      transform: rotate(45deg);
      left: -$arrow_size/2 - 1px;
    }
  }
}