.container {
  display: flex;


  &.vertical {
    flex-direction: column;
  }

  &.horizontal {

  }

  .itemContainer {
    position: relative;
    display: flex;
    align-items: baseline;

    .radio {
      min-height: 0.6em;
      min-width: 0.6em;
      margin: 0.2em 0;
      border-radius: 50%;
      border: 1px solid;
    }

    .text {
      padding: $padding / 2;
      user-select: none;
    }

    &.selected {
      color: $color_accent_blue;
      .radio {
        background-color: lighten($color_accent_blue, 20%);
      }
    }
  }
}