$select_height: 20px;

.container {

	@include Clickable;
	position: relative;
  height: $select_height;
  background-color: inherit;
  min-width: 40px;
	.select {
		background: white;
		// border: solid;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		list-style: none;
		padding: 0;
    z-index: 1;
    background-color: inherit;
    overflow: hidden;
    max-height: 250px;

		&.open {
			@include CardContainer;
			border-top: none;
			border-left: none;
			border-right: none;
      z-index: 2;
      overflow-y: auto;
      min-width: 55px;
		}

		&:after {
			content: '\f107';
			position: absolute;
			padding:  0 $padding/2;
			right: 0;
			top: 0;
			font-family: FontAwesome;
		}
		> li {
      padding: 0 $padding/2;
      padding-right: $padding*2;
      background-color: inherit;
		}

		> li.label {
			font-style: italic;
		}

		> li:first-child {
			border-bottom: 1px solid;
		}

		> li:not(:first-child) {
			border-right: 1px solid;
			border-left:  1px solid;

			&:hover {
        border-color: $color_accent_blue;
				background-color: $color_accent_blue;
				color: $color_text_light;
			}
		}
	}
}