.container {
  width: 100%;
  
  
  
  .header {
    width: 100%;

    .headerInnerContainer {
      
      background-color: #F1F1F2;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100px;
      padding: 0 150px;
      margin: 0 auto;
      @include CardContainer;

      .title, .titleActive {
        font-size: 32px;
        margin: 0 20px;
        border-bottom: 5px solid transparent;
        @include Clickable;
      }

      .titleActive {
        border-bottom-color: $color_accent_blue;
       
      }

      
     
    }

   
 }
  }
  