.reservation {
  padding-bottom: 30px;
}

.buttonContainer {
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 15%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  

  a{
    margin: 10px;
    background-color: #0179FF;
    padding: 10px;
    color: #fff;
    text-decoration:none;

    
  }
  .whiteButton{
    background: #fff;
    border: solid 1px #0179FF;
    color: #0179FF;
  }
}