.container {
  width: 100%;
  padding: $cardPadding 0;

  .innerContainer {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    max-width: $innerContainerWidth;
    .title {
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: $padding;
    }
    .body {
      font-size: 18px;
    }
  }
}