.container {
  width: 100%;
  background-color: #F1F1F2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: $cardPadding;

  .defaultDay, .defaultDayActive {
    position: absolute;
    margin-top: 4px;
    margin-left: 19px;
    z-index: 1;
    font-size: 12px;
    color: $color_accent_blue;
  }

  .defaultDayActive {
    color: white;
  }
 

  .innerContainer {
    left: 0;
    right: 0;
    margin: auto;
    max-width: $innerContainerWidth;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .day, .dayActive {
      padding: $padding*2;
      font-size: 18px;
      @include Clickable;
      
    }

    

    .dayActive {
      // font-weight: bold;
      position: relative;
      background-color: #404041;
      color: #fff;
      &:after {
        content: ' ';
        width: 30px;
        height: 30px;
        background-color: #404041;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 27px;
        transform: rotate(45deg);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .TitlePhonehidden{
      display: none;
      margin-bottom: 5px;
    }
    .alert {
      display: none;
    }

    .directionContainer{
      margin-top: 15px;
    }
    .innerContainer {
      
      width: 100%;
     
  
      .day, .dayActive {
        padding: 14px !important;
        font-size: 14px !important;
        padding-top: 15px;
        
        
      }

      .dayActive {
        // font-weight: bold;
        position: relative;
        background-color: #404041;
        color: #fff;
        &:after {
          content: ' ';
         
          margin-top: 15px;
        
        }
      }
    }
  .defaultDayActive{
    position: relative;
    color: #fff;
    z-index: 1;
    font-size: 12px;
    background-color: #404041;
    padding-left: 5px;
    margin: 0;
  }
    
  }

}