.outerContainer {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.container {
  width: 100%;
  max-width: $innerContainerWidth;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 50px;

  .alert {
    color: #FC3365;
    text-align: center;
  }

  .soldOut {
    color: $color_text_muted;
    pointer-events: none;
  }

  table.flightTable {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
    th {
      text-align: left;
      color: $color_subheading;
      border-bottom: 1px solid black;
      padding: $padding;
      padding-bottom: 0;
      padding-left: 0;
    }

    tr:not(:first-of-type) {
      td {
        padding: 15px;
        padding-bottom: 0;
        padding-left: 0;
       
      }
      
     
    }

    td img {
      margin-bottom: -12px;
      width: 185px;
    }
   
  }

  .ownArrangments {
    td {
      padding-top: 10px;
    }
  }

  .largeFont{
    font-size: 20px;
    font-weight: bold;
  }
  .inputStyle{
    left: 0;
    right: 0;
    margin: auto;
    max-width: 900px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    p{
      margin: 10px 0 0 0;
    }
    input[type=text] {
      width: 285px;
      padding: 8px 0;
      margin: 8px 0;
      box-sizing: border-box;
  }
  }
  table:not(.flightTable) {
    width: 100%;
    th {
      text-align: left;
      color: $color_subheading;
    }
    .selectContainer {
      display: inline-block;
      width: 120px;
      margin-bottom: -5px;
      padding: 0 $padding;
      background-color: white;
    }
  }

  .directionContainer{
    left: 0;
    right: 0;
    max-width: 400px;
    margin: auto;
    display: flex;
    padding: 0 $cardPadding $cardPadding;
    justify-content: space-around;
    color: $color_accent_grey;

    .direction, .directionActive {
      border-bottom: 4px solid transparent;
      @include Clickable;
      .title {
        text-align: left;
      }
      .content {
        font-size: 22px;
      }
    }

    .direction {
      color: $color_accent_grey;
    }

    .directionActive {
      color: $color_text_dark;
      border-bottom-color: $color_accent_blue;
    }
  }
  .spacer {
    padding: $padding;
    position: relative;
    &:after {
      position: absolute;
      content: ' ';
      background-color: black;
      height: 1px;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .TitlePhonehidden{
      display: none;
      margin-bottom: 5px;
    }
    .alert {
      display: none;
    }

    .directionContainer{
      margin-top: 15px;
    }
    
    .unphoneImg{
      padding: 5px;
      position: absolute;
      top: 160px;
      left: 90px;
      display: none;

        img{
          width: 100px;
        }

    }
    .noneDisplay{
      display: none;
    }
    table.flightTable {
      border-collapse: collapse;
      width: 100%;
      margin: 30px 0;
      th {
        text-align: left;
        color: $color_subheading;
        border-bottom: 1px solid black;
        padding: $padding;
        padding-bottom: 0;
        padding-left: 0;
      }
  
      tr:not(:first-of-type) {
        td {
          padding: 15px;
          padding-bottom: 0;
          padding-left: 14px;
         
        }
        
       
      }
  
      td img {
        margin-bottom: -12px;
        width: 185px;
      }   
    }
      .inputStyle{
        left: 0;
        right: 0;
        margin: auto;
        max-width: 900px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        flex-wrap: wrap-reverse;
        p{
          margin: 10px 0 0 0;
        }
        input[type=text] {
          width: 285px;
          padding: 8px 0;
          margin: 8px 0;
          box-sizing: border-box;
          border: solid 1px #ccc;
      }
        .alginCinet{
          margin: 0 auto;
        }
      }


      
  }

}