.container {
  
  .genContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;

    .genButton {
      @include LinkButton;
    }
  }
  
  width: 100%;
  .CheckboxStylefrom{
    margin-top: 25px;
    margin-bottom: 20px;
    min-width: 800px;
    display: flex;
    justify-content: space-around;

  }
  .sortByContainer {

    label {
      display: inline-block;
      
    }
    > div {
      width: 200px;
      background-color: white;
      display: inline-block;
      margin-bottom: -5px;
     
    }
    
    
  }
  .labelStyle{
    padding: 5px;
  }
  .TopStyleing{
    border-bottom: solid 1px #ccc;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: $padding;
    border: 1px solid black;
    margin-bottom: $padding;
  }
 
  .rsvpTable{
    table{
      margin: 0 auto;
      tr{
        text-align: center;
       
         td{
           padding: 10px 5px;
           text-align: center;
           
         }
      }
      tbody{
        tr{
          &:hover{
            background-color: #e6e6e6;
          }
        }
      }
    }
  }
}