.container {
  width: 900px;
  margin: 0 auto;
  .button {
    @include LinkButton;
  }
  h1 {
    text-align: center;
  }
  table {
    width: 900px;
    text-align: left;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    th {
      color: $color_subheading;
      text-transform: uppercase;
      font-size: 18px;
      border-bottom: solid 1px rgb(99, 34, 34);
      padding: 10px 0 3px 10%;
    }
    tr {
      height: 25px;
      &:hover {
        background-color: #ccc;
      }
      td {
        padding: 5px;
        padding-left: 10%;
      }
    }
  }
}
