.container {
  width: 1200px;
  margin: 0 auto;
  // border-top: solid 1px #000;
  // border-bottom: solid 1px #000;
  .topPanel {
    padding: $padding*2;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #000;
    > div {
      flex-grow: 1;
      flex-shrink: 1;
    }

    

    table {
      width: 900px;
      th {
        text-align: left;
        text-transform: uppercase;
      

      }
      td{
        width: 250px;
        text-align: left;
        padding-left: 20px;
      }

      .eventHeader{
        background: #000 !important;
        color: green;
      }
     
    }

    
  }
  
  button {
    @include Button;
    @include ModalButton;
  }

  .linkButton {
    @include Button;
    @include ModalButton;
  }

  .link {
    @include Clickable;
    @include LinkButton;
    &:hover {
      background-color: transparent !important;
      border: none !important;
    }
  }

  .innerContent {
    width: 100%;

    .email {
      @include Button;
      @include ModalButton;
      @include Clickable;
      float: right;
      margin-right: 20px;
    }

    table {
      width: 900px;
			text-align: left;
			width: 100%;
			left: 0;
			right: 0;
			margin: auto;
			th {
				color: $color_subheading;
				text-transform: uppercase;
				font-size: 18px;
				border-bottom: solid 1px rgb(99, 34, 34);
        padding: 10px 0 3px 10%;
        
			}
			tr{
			   height: 25px;
			   &:hover{
				background-color: #ccc;
			}
			  td{
          padding: 5px;
          padding-left: 10%;
			  }
      }
      

  
     
		  
		}

		.empty {
			color: #FF2E64;
    }
    
  }
  .disabile{
    display: none;
  }


 
}

