.container {
    width: 1150px;
    margin: 0 auto;
  
    .topPanel {
      padding: $padding*2;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      border-top: solid 1px #000;
      > div {
        flex-grow: 1;
        flex-shrink: 1;
      }

      
    }
    table{
        min-width: 100% ;
        border-spacing: 0 !important;
        
        th {
            text-align: left;
            text-transform: uppercase;
            color: #000;
            padding-right: 25px;   
          }
          td{
            width: 200px;
            text-align: left;
           padding: 0 5px;
           
          
          }
          tr{
            height: 10px !important;
            padding: 0;
            margin: 0;
            
           
            &:hover{
                  color: #0179FF;
               }
          }
          .btnstyle{
            width: 100px !important;
        }
         .btnguest{
            width: 75px !important;
         }
           
        
    }
    
    .email {
        color: #FFFFFF;
        padding: 5px;
        border-radius: 2px;
        background-color: #007AFF;
        border: 1px solid #007AFF;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 14px;
        padding: 10px 45px;
        user-select: none;
        cursor: pointer;
        float: right;
        margin-right: 0px;
        width: 87px;
        padding: 10px 10px !important;
        text-decoration: none;
        margin-bottom: -10px;
      }
    
      .tableDev{
        border-top: solid 1px #ccc;
        padding: 20px 0;
        text-align: -webkit-center;
      }

      
}  